<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form th:method="POST" action="@{/calculator}" th:object="${calc}">
    <label for="numberOne">First number</label>
    <input type="text" th:field="*{numberOne}" id="numberOne"/>
    <br/>
    <label for="numberTwo">Second number</label>
    <input type="text" th:field="*{numberTwo}" id="numberTwo"/>
    <br/>
    <label for="operation">Select action</label>
    <select th:field="*{action}" id="operation">
        <option value="addition">Addition</option>
        <option value="subtraction">Subtraction</option>
        <option value="multiplication">Multiplication</option>
        <option value="division">Division</option>
    </select>
    <br/>
    <input type="submit" value="Calculate"/>
</form>
<p th:if="${result}" th:text="'Result is: ' + ${result}"/>
</body>
</html>